.cb-chart {
    position: relative;
    width: 98%;
    margin: 0 auto 10px;
    padding: 2px 0 30px;
}

.cb-chart-grid {
    position: absolute;
    height: 100%;
    border-left: 1px solid #ccc;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 5px;
    top: 0px;
}

.cb-chart-legend {
    position: relative;
    font-size: 14px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    padding: 0 5px;
}
.cb-chart-legend-mark {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
}

.cb-chart .cb-chart-item {
    position: relative;
    height: 20px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    padding: 5px;
}
.cb-chart .cb-chart-item-name {
    position: relative;
    font-size: 14px;
    font-weight: bold;
    color: #fff !important;;
}

.cb-chart2 {
    position: relative;
    width: 98%;
    margin: 0 auto 10px;
    padding-bottom: 90px;
}

.cb-chart2 .cb-chart-item {
    position: absolute;
    height: 50px;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.cb-chart2 .cb-chart-item-name {
    position: relative;
    font-size: 14px;
    font-weight: bold;
    color: #fff !important;;
}
